.card {
  border: none;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.icon-container {
  font-size: 2.5rem;
  line-height: 1;
}

.card-body {
  padding: 1.5rem 0.75rem;
}

@media (max-width: 576px) {
  .icon-container {
    font-size: 1.8rem !important;
  }
}
